.cardContainer {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: 1px solid var(--border-color); 
  background-color: var(--background-secondary);
  gap: 1rem;
}

.ownerCircle,
.userCircle {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--accent-text-on-primary);
  font-weight: bold;
}

.ownerCircle {
  min-width: 48px;
  height: 48px;
  background-color: var(--accent-primary);
  font-size: 1.2rem;
}

.mainContent {
  flex-grow: 1;
}

.name {
  color: var(--text-primary);
}

.subject {
  color: var(--text-secondary); 
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 400px;
}

.usersContainer {
  display: flex;
}

.userCircle {
  width: 32px;
  height: 32px;
  background-color: var(--text-secondary);
  border: 2px solid var(--background-secondary); 
  margin-left: -10px; 
}

.userCircle:first-child {
  margin-left: 0;
}

.checkbox {
  min-width: 48px;
  height: 20px;
  width: 20px;
  margin: 0;
  padding: 0 14px;
}

@media (max-width: 768px) {
  .subject {
    white-space: normal;
    max-width: 100%;
  }
  .usersContainer {
    display: none;
  }

  .ownerCircle {
    min-width: 40px;
    height: 40px;
    font-size: 1rem;
  }
}